html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color:#a89c85;
}

.header {
  background-color: #003400;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.logo {
  color: white;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  font-size: larger;
  width: fit-content;
  left: 3rem;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.list li {
  margin-left: 2rem;
}

nav a {
  color: #fc0;
  text-decoration: none;
  font-family: Arial;
  font-size: large;
  text-transform: uppercase;
  font-weight: 900;
}

#checkbtn {
  line-height: 70px;
  font-size: 30px;
  color: #fc0;
  display: none;
}

#check {
  display: none;
}

#check:checked ~ ul {
  top: 70px;
  left: 0;
}

@media (max-width: 1300px) {
  #checkbtn {
    display: block;
    right: 10px;
    position: absolute;
    top: -18px;
  }
  .navbar{
    display: block;
    
  }
  .logo{
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .list {
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    height: fit-content;
    background-color: #003400;
    position: fixed;
    top: -100%;
    left: 0;
    transition: 1s;
  }

  .list li {
    display: block;
    text-align: left;
    margin: 10px 0;
  }
}

nav a:hover {
  color: rgb(255, 255, 255);
}


.detail-about-page{
  position: relative;
  background-color:rgba(255, 255, 255, 0.644);
  backdrop-filter: blur(10px);
  width: 90%;
  align-content: center;
  height:fit-content;
  padding: 30px ;
  margin: 20px auto;
  border-radius: 35px ;
  align-items: center;
  top: 90px;
  font-size: 20px;
}
.detail-about-page h1{
  text-align: center;
  color: #003400;
  font-weight: 700;
}
.sub-heading{
  background-color: #003400;
  color: #fc0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  display: block;
  position: relative;
  text-align: center;
  font-size: 50px;
  padding: 20px ;
  top: 90px;
}
.life-on-land{
  width: 90%;
  margin: 5%;
}

.big-container{ 
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  top: 150px;
}

.container{
  display: block;
  background-color:rgba(255, 255, 255, 0.644);
  backdrop-filter: blur(10px);
  max-width: 25%;
  height:auto;
  font-size: 1.4rem;
  padding: 20px 10px 20px 10px ;
  margin: 10px 20px;
  border-radius: 35px ;
  text-decoration: none;
  color: #000000;
}
.details{
  padding: 0 10px;
}
.image{
  width: 90%;
  margin: 10%;
}
.img{
  height: 90%;
  width: 90%;
  border-radius: 30px;
}

footer{
  position: absolute;
  text-align: center;
    height: 50px;
    background-color: #003400;
    color:#fc0 ;
    left: 0px;
    right: 0px;
    margin-top: 150px;
    padding-bottom: 50px;
}
footer a{
  text-decoration: none;
  color: #fc0;
}

.more-info {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
.chevron-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #003400;
  border-radius: 50%;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.chevron-icon {
  
  font-size: 20px;
}

.container:hover .chevron-icon-container {
  background-color: green; 
  color: #003400;
}

footer a{
  text-transform: uppercase;
  font-weight: 800;
}
/*details*/

.section-details{
  text-align: center;
  background-color: white;
  padding: 20px;
  margin: 20px ;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-details p{
  text-align: left;
  font-size: 1.2rem;
}
.section-details ol{
  
  text-align: left;
}
.section-details h2 {
  text-align: center;
  font-size: 3rem;
}


.carousel-item img{
  height: 50%;
  height: auto;
  width:auto;
}


/* login page*/

form{
  height: 520px;
  width: 400px;
  background-color: #003400;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 500px;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.479);
  padding: 50px 35px;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: #fc0;
  font-weight: 600;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(245, 239, 239, 0.692);
  border-radius: 3px;
  padding: 0 auto;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
textarea{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(245, 239, 239, 0.692);
  border-radius: 3px;
  padding: 0 auto;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: black;
}

::placeholder{
  color: #0e0d0d;
}
button{
  margin-top: 50px;
  height: 50px;
  width: 100%;
  background-color: rgba(245, 239, 239, 0.692);
  color: #fc0;
  padding: auto ;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social{
margin-top: 30px;
display: flex;
justify-content: center;
}
.social div{
width: 160px;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: rgba(255, 255, 255, 0.582);
color: #fc0;
text-align: center;
}
.social div:hover{
background-color: rgba(0, 0, 0, 0.753);
color: #fcfcfc;
}
.social .fb{
margin-left: 25px;
}
.social i{
margin-right: 4px;
}

.login-footer{
  position: fixed;
  bottom: 0;
  height: 10px;
}


/*--- NGO and COMMUNITIES---*/

.inner-section {
  background-color: #003400;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 80%;
  margin: 100px auto;
  border-radius: 25px;
}

.main-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.inner-section h3 {
  font-size: 2.5rem;
  color: #fc0;
}

.inner-box {
  background-color: #a89c85;
  margin: 1rem;
  font-size: 1.3rem;
  border-radius: 25px;
  padding: 3rem;
  text-align: center;
  color: #003400;
}

.inner-box a {
  text-decoration: none;
  color: #003400;
}

.inner-box img {
  border-radius: 25px;
}

.inner-box-link {
  text-align: center;
  padding: 1rem;
  margin: 1.2rem;
  font-size: 2rem;
}

.inner-box .donate {
  font-weight: 800;
  font-size: 40px;
  background-color: #fc0;
  border-radius: 20px;
  padding: 1rem;
}

.donate:hover {
  background-color: #003400;
  color: #fc0;
}

.inner-box a:hover {
  color: #fc0;
}

/* Responsive styles */
@media (max-width: 1300px) {
  .inner-section {
    width: 90%;
    margin: 100px auto;
    padding: 1rem;
  }

  .main-box {
    padding: 1rem;
  }

  .inner-section h3 {
    font-size: 2rem;
  }

  .inner-box {
    padding: 2rem;
    font-size: 1.1rem;
  }

  .inner-box-link {
    font-size: 1.5rem;
    margin: 1rem;
  }

  .inner-box .donate {
    font-size: 30px;
    padding: 0.5rem;
  }

  .inner-box img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .inner-section {
    width: 95%;
    margin: 25px auto;
    padding: 0.5rem;
  }

  .main-box {
    padding: 0.5rem;
  }

  .inner-section h3 {
    font-size: 1.5rem;
  }

  .inner-box {
    padding: 1.5rem;
    font-size: 1rem;
  }

  .inner-box-link {
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  .inner-box .donate {
    font-size: 25px;
    padding: 0.5rem;
  }

  .inner-box img {
    width: 100%;
    height: auto;
  }
}

/*-- about--*/
.wrapper {
  margin: 100px 3rem;
}

.about {
  top: 4000px;
  color: white;
  margin-top: 20px;
  padding: 1rem;
  background: #003400;
  border-radius: 25px;
  animation: fadeIn 1s ease-in-out; /* Apply fade-in animation */
}

.intro {
  color: white;
  padding: 1em;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 500px;
  border: solid black;
  border-radius: 25px;
  animation: fadeIn 1s ease-in-out; /* Apply fade-in animation */
}

.container-center {
  margin: 3rem 1rem;
  padding: 3rem;
  background-color: #003400;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.inner-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  background-color:#a89c85;
  margin: 1rem;
  flex: 1 1 calc(33% - 2rem); /* Adjust the width of columns */
  box-sizing: border-box;
  border-radius: 25px;
}

.card {
  transition: transform 0.2s;
  padding: 1rem;
}

.card:hover {
  transform: scale(1.05);
}
.card button{
  background-color: #003400;
}
.card-title{
  color: #fc0;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}
/* Custom styles for Bootstrap popover */
.popover {
  background-color: #013501a9;
  padding: 2rem !important;
  border-radius: 25px;
  width: 70%;
  
}
.popover-header {
  padding: 2rem !important;
  text-align: center;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: #fc0;
}
.popover-body {
  padding: 2rem !important;
  color: white;
  font-size: 1.3rem;
}
